.layout-container {
  display: flex;
  height: 1080px;
  background-color: #f9fafb;
}

.layout-main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.layout-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background-color: #f9fafb;
}

@media (min-width: 768px) {
  .layout-main-content {
    padding: 24px;
  }
}
